---
import ButtonOptionA from "../ui/ButtonOptionA.astro";
import ButtonOptionB from "../ui/ButtonOptionB.astro";
import he from "../../../public/locales/he/translation.json";
import en from "../../../public/locales/en/translation.json";

interface Props {
  language: string;
}

const { language } = Astro.props;

const t = language === "he" ? he : en;
const direction = language === "he" ? "rtl" : "ltr";
---

<article style={`direction: ${direction};`}>
  <div class="container">
    <div class="title">
      <h1 class="h1">{t.contact.TalkToUs}</h1>
      <h4>{t.contact.LetsDiver}</h4>
    </div>
    <ButtonOptionA text={t.contact.ScheduleCall} />
  </div>
</article>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid white;
    gap: 2rem;
    padding: 2rem;
    margin-top: 2rem;
  }

  h1 {
    margin-bottom: 0px;
  }
  .title {
    display: flex;
    flex-direction: column;
  }
</style>
