---
import ButtonOptionA from "../ui/ButtonOptionA.astro";
import ButtonOptionB from "../ui/ButtonOptionB.astro";
---

<article>
  <div class="title">
    <h1 class="h1">Talk To Us!</h1>
    <h4>Let's dive deeper! Don't hold back</h4>
  </div>
  <ButtonOptionA text="Schedule a Call" />
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid white;
    gap: 2rem;
    padding: 2rem;
  }

  h1 {
    margin-bottom: 0px;
  }
  .title {
    display: flex;
    flex-direction: column;
  }
</style>
