---
import Form from "../ui/Form.jsx";
interface Props {
  title: string;
  language?: string;
}

const { title, language } = Astro.props;
---

<article dir={language === "he" ? "rtl" : "ltr"}>
  <h1>{title}</h1>
  <Form client:idle language={language} />
</article>

<style>
  article {
    color: white;
    margin-bottom: 2rem;

    @media screen and (max-width: 768px) {
      margin-top: 6rem;
    }
  }
  h1 {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
    padding: 0;
  }
</style>
