---
import ButtonSwitchLanguage from "../ui/ButtonSwitchLanguage";
import ButtonsNav from "../ui/ButtonsNav.astro";
import Loader from "../ui/Loader.astro";
---

<nav class="navbar">
  <div>
    <a href="/">
      <h4>
        <span class="logo">
          <Loader />
        </span>
      </h4>
    </a>
  </div>
  <div class="navbar-right">
    <div class="only-desktop">
      <ButtonsNav />
    </div>
    <button class="hamburger-button">☰</button>
    <ButtonSwitchLanguage client:idle />
  </div>
</nav>

<style>
  .only-desktop {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-top: 2rem;
    position: sticky;
  }

  .navbar-right {
    display: flex;
    align-items: center;
  }

  .hamburger-button {
    display: none;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: var(--color-text);
  }
  .logo {
    color: white;
  }
  @media (max-width: 768px) {
    .navbar {
      padding: 1rem;
    }

    .hamburger-button {
      display: block;
    }
  }

  a {
    text-decoration: none;
  }
</style>
