---
import ButtonSwitchLanguage from "../ui/ButtonSwitchLanguage";
import ButtonsNav from "../ui/ButtonsNav.astro";
import LanguageSelector from "../ui/LanguageSelector.astro";
import Loader from "../ui/Loader.astro";
import i18next, { t, changeLanguage } from "i18next";

let currentLanguage = i18next.language;

interface Props {
  language: string;
}

const { language } = Astro.props;
---

<nav
  class="navbar"
  style={{ flexDirection: currentLanguage === "he" ? "row-reverse" : "row" }}
>
  <div>
    <a href="/">
      <h4>
        <span class="logo">
          <Loader />
        </span>
      </h4>
    </a>
  </div>
  <div class="navbar-right">
    <div class="only-desktop">
      <ButtonsNav language={language} />
    </div>
    <button class="hamburger-button">☰</button>
    <div class="only-mobile"></div>
  </div>
</nav>

<style>
  .only-desktop {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-top: 2rem;
    position: sticky;
    @media screen and (max-width: 768px) {
      margin-top: 0;
      margin-bottom: none;
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;
  }

  .hamburger-button {
    display: none;
    font-size: 5rem;
    background-color: transparent;
    border: none;
    color: var(--color-text);
  }
  .logo {
    color: white;
  }
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      margin-left: -2rem;
      margin-right: -2rem;
      transform: scale(0.8);
    }

    .hamburger-button {
      display: block;
    }
  }

  a {
    text-decoration: none;
  }
</style>
