---
import ContactCard from "../components/ui/ContactCard.astro";
import SendUsEmail from "../components/ui/SendUsEmail.astro";
import Header from "../components/widgets/Header.astro";
import Layout from "../layouts/Layout.astro";
import iairProfile from "../../src/iairkap-linkedin.jpeg";
import ContactForm from "../components/widgets/ContactForm.astro";

interface Props {}
---

<Layout title="Contact Form">
  <Header />
  <main>
    <div class="container">
      <section class="left">
        <div>
          <SendUsEmail title="hola" email="iairkap@gmail.com" />
          <div>
            <ContactCard
              name="Iair Kaplun"
              title="Web Developer"
              picture={iairProfile}
              href="https://www.linkedin.com/in/iair-kaplun-50872a292/"
            />
          </div>
        </div>
      </section>
      <section class="right">
        <ContactForm title="Hey! Do you have a Project?" />
      </section>
    </div>
  </main>

  <style>
    main {
      width: calc(100vw - 15vw);
      margin: 0vw 7.5vw;
      height: calc(100vh - 14rem);
    }

    .container {
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      padding: 7rem;
    }

    .left,
    .right {
      display: flex;
      flex-direction: column;
    }
    .right {
    }

    .left {
    }
  </style>
</Layout>
