---
import { changeLanguage } from "i18next";
import ContactCard from "../components/ui/ContactCard.astro";
import SendUsEmail from "../components/ui/SendUsEmail.astro";
import Header from "../components/widgets/Header.astro";
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/widgets/ContactForm.astro";

changeLanguage("en");

interface Props {}
---

<Layout title="Contact Form">
  <div class="header">
    <Header language="en" />
  </div>
  <main>
    <div class="background-gradient"></div>

    <div class="container">
      <section class="left">
        <div>
          <SendUsEmail title="hola" email="iairkap@gmail.com" />
          <div>
            <ContactCard
              name="Iair Kaplun"
              title="Web Developer"
              href="https://www.linkedin.com/in/iair-kaplun-50872a292/"
            />
          </div>
        </div>
      </section>
      <section class="right">
        <ContactForm title="Hey! Do you have a Project?" />
      </section>
    </div>
  </main>

  <style>
    main {
      width: calc(100vw - 15vw);
      margin: 0vw 7.5vw;
      height: calc(100vh - 2rem);
    }

    .container {
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      padding-left: 7.5vw;
      padding-right: 5vw;
      margin-top: 5rem;
    }
    .header {
      padding: 0 15vw;
    }
    .left,
    .right {
      display: flex;
      flex-direction: column;
    }

    .background-gradient {
      left: 0;
      width: 100vw;
      position: absolute;
      margin-top: -350px;
      opacity: 40%;
      height: 100%;
      background: radial-gradient(
        102.91% 64.71% at 75.38% 27.65%,
        #391fffc9 0%,
        #3820f1d8 3%,
        #2e1cb9 18%,
        #241988 33%,
        #1c1660 47%,
        #161441 61%,
        #12132b 75%,
        #0f121e 88%,
        #0f121a 100%
      );
      z-index: -1;
    }
  </style>
</Layout>
