---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/widgets/Hero.astro";
import Services from "../components/widgets/Services.astro";
import Header from "../components/widgets/Header.astro";
import PortfolioSection from "../components/widgets/PortfolioSection.astro";
import WhatOurClientSays from "../components/widgets/WhatOurClientSays.astro";
import FAQ from "../components/widgets/FAQ.astro";
import { faqsEn } from "../javascript/questions";
import CallToAction from "../components/widgets/CallToAction.astro";
import Footer from "../components/ui/Footer.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import Top from "../components/ui/Top.astro";

changeLanguage("en");

interface Props {}
---

<Layout title="Marketing Agency israel.">
  <html lang={i18next.language}>
    <head>
      <meta name="description" />
      <HeadHrefLangs />
    </head>
    <main>
      <Top language="en" client:idle />
      <section class="first-section">
        <Hero
          language="en"
          title="Website Design & Marketing Agency in Israel"
          description="Need a beautiful and high-end online presence? Elevate your brand with compelling design and strategic marketing. Let's redefine success together"
          button1="Request a Quote"
          button2="Schedule a call"
        />
      </section>

      <section id="services" style={{ minHeight: "100vh" }}>
        <Services
          title="Creating Web Solutions that Convert Visitors into Customers"
          language="en"
        />
      </section>
      <section id="works">
        <PortfolioSection
          title="Our latest website design projects."
          language="en"
        />
      </section>
      <section>
        <WhatOurClientSays
          title="What our clients say about us"
          ,
          language="en"
        />
      </section>
      <div class="divider"></div>
      <section id="FAQ">
        <FAQ faqs={faqsEn} language="en" />
      </section>
      <section
        style={{
          height: "100vh",
          display: "flex",
          flexDirection: "column",
          justifyContent: "space-between",
        }}
      >
        <CallToAction language="en" />
        <Footer language="en" />
      </section>
    </main>
  </html>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
    main {
      margin: auto;
      width: 100vw;
      color: white;
      font-size: 20px;
      line-height: 1.6;
      @media (max-width: 768px) {
        padding: 0 16px;
      }
    }

    ::-webkit-scrollbar {
      width: 10px;
      padding: 2rem;
    }

    /* Estiliza el track (la parte "barra" de la barra de desplazamiento) */
    ::-webkit-scrollbar-track {
      background: #3a1fff;
      border-radius: 5px;
    }

    /* Estiliza el thumb (la parte "deslizante" de la barra de desplazamiento) */
    ::-webkit-scrollbar-thumb {
      background: #1e1370;
      border-radius: 12px;
    }

    /* Cambia el color del thumb al pasar el mouse */
    ::-webkit-scrollbar-thumb:hover {
      background: #1e1370;
    }

    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }

    .first-section {
      min-height: 100vh;
    }
    .blue-divisor {
      width: 100%;
      height: 5.03431rem;
      transform: rotate(2.312deg);
      flex-shrink: 0;
      @media (max-width: 768px) {
        display: none !important;
      }
    }

    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      padding: 1.5rem;
      border-radius: 8px;
    }
    @media (min-width: 1024px) {
      .desktop-style {
        width: 100vw;
        margin-left: -15vw;
        margin-top: 9rem;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        color: #272828;
        font-size: 1.5rem;
        font-weight: 600;
        justify-content: center;
        align-items: center;
      }
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
    .divider {
      height: 100px;
    }
    .fade-in-up.in-viewport {
      animation: fadeInUp 1s ease-out;
    }

    .background-gradient {
      margin-left: -15vw;
      position: absolute;
      rotate: 180deg;
      opacity: 40%;
      width: 100%;
      height: 100%;
      background: radial-gradient(
        102.91% 64.71% at 75.38% 27.65%,
        #391fffc9 0%,
        #3820f1d8 3%,
        #2e1cb9 18%,
        #241988 33%,
        #1c1660 47%,
        #161441 61%,
        #12132b 75%,
        #0f121e 88%,
        #0f121a 100%
      );
      z-index: -1;
    }
    @keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    html {
      scroll-snap-type: y mandatory;
    }
    section {
      padding: 0 15vw;
      min-height: 100vh;
      @media screen and (max-width: 768px) {
        padding: 0 0;
        min-height: 100vh;
      }
    }
  </style>

  <script>
    import { animateOnScroll } from "../../src/helpers/animation";
    animateOnScroll("#services");
  </script>
</Layout>
