.button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 32px;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 12000;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 0;
  justify-content: center;
  left: 0;
  width: 100%;
  background-color: #0f121a;
  transition: opacity 0.5s ease;
  opacity: 0;
  visibility: hidden;
  height: 100%;
}

.menuOptions {
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s ease 0s;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  border: 1px solid #fff;
  min-width: 200px;
}

.callUs {
  background-color: white;
  border: none;
  color: #0f121a;
  font-family: "Manrope", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s ease 0s;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  border: 1px solid #fff;
  min-width: 200px;
}

.container {
  background-color: red;
}
.button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: transform 0.3s ease-in-out;
}

.line {
  width: 30px;
  height: 4px;
  background-color: #333;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.button.open .line-1 {
  transform: translateY(12px) rotate(45deg);
}

.button.open .line-2 {
  opacity: 0;
}

.button.open .line-3 {
  transform: translateY(-12px) rotate(-45deg);
}
