---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("he");
---

<Layout title="Work in Progress">
  <article>
    <h1>We are working on this!!</h1>
    <img src="../../src/404.png" alt="404" />
  </article>
</Layout>

<style>
  article {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
  }
  h1 {
    color: white;
  }
  img {
    height: 50vh;
  }
</style>
