---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Hero from "../../components/widgets/Hero.astro";
import Services from "../../components/widgets/Services.astro";
import Header from "../../components/widgets/Header.astro";
import PortfolioSection from "../../components/widgets/PortfolioSection.astro";
import WhatOurClientSays from "../../components/widgets/WhatOurClientSays.astro";
import FAQ from "../../components/widgets/FAQ.astro";
import { faqs } from "../../javascript/questions";
import CallToAction from "../../components/widgets/CallToAction.astro";
import Footer from "../../components/ui/Footer.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

changeLanguage("he");

let currentLanguage = i18next.language;

console.log(currentLanguage);
console.log(t("hero.title"));
interface Props {}
---

<Layout title="Marketing Agency israel.">
  <html lang={i18next.language}>
    <head>
      <meta name="description" />
      <HeadHrefLangs />
    </head>
    <main>
      <section class="first-section">
        <Header />
        <Hero
          title={t("hero.title")}
          description={t("hero.description")}
          button1={t("hero.button1")}
          button2={t("hero.button2")}
        />
        <div
          class="blue-divisor desktop-style"
          style={{
            width: "100vw",
            marginLeft: "-15vw",
            marginTop: "9rem",
            display: "Flex",
            flexDirection: "row",
            gap: "2rem",
            color: "#272828",
            fontSize: "1.5rem",
            fontWeight: "600",
            justifyContent: "center",
            alignItems: "center",
          }}
        >
          <h4>Real Cover</h4>
          <h4>Punto Mov Studio</h4>
          <h4>Siemens Healthinees</h4>
          <h4>Resi-Lense</h4>
          <h4>Highlight Films</h4>
          <h4>Talent Tech Hub</h4>
        </div>
      </section>

      <section id="services">
        <Services title={t("services.title")} />
        <br class="display-only-mobile" />
        <br class="display-only-mobile" />
      </section>
      <section id="works">
        <PortfolioSection title={t("portfolio.title")} />
      </section>
      <section>
        <WhatOurClientSays title={t("clients.title")} />
      </section>
      <div class="divider"></div>
      <section>
        <FAQ faqs={faqs} />
      </section>
      <section
        style={{
          height: "100vh",
          display: "flex",
          flexDirection: "column",
          justifyContent: "space-between",
        }}
      >
        <CallToAction />
        <Footer />
      </section>
    </main>
  </html>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
    main {
      margin: auto;
      width: 100vw;
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }

    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }

    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }

    .first-section {
      min-height: 100vh;
    }
    .blue-divisor {
      width: 100%;
      height: 5.03431rem;
      transform: rotate(2.312deg);
      flex-shrink: 0;
      background: #3a1fff;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      padding: 1.5rem;
      border-radius: 8px;
    }
    @media (min-width: 1024px) {
      .desktop-style {
        width: 100vw;
        margin-left: -15vw;
        margin-top: 9rem;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        color: #272828;
        font-size: 1.5rem;
        font-weight: 600;
        justify-content: center;
        align-items: center;
      }
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
    .divider {
      height: 100px;
    }
    .fade-in-up.in-viewport {
      animation: fadeInUp 1s ease-out;
    }

    .background-gradient {
      margin-left: -15vw;
      position: absolute;
      rotate: 180deg;
      opacity: 40%;
      width: 100%;
      height: 100%;
      background: radial-gradient(
        102.91% 64.71% at 75.38% 27.65%,
        #391fffc9 0%,
        #3820f1d8 3%,
        #2e1cb9 18%,
        #241988 33%,
        #1c1660 47%,
        #161441 61%,
        #12132b 75%,
        #0f121e 88%,
        #0f121a 100%
      );
      z-index: -1;
    }
    @keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    html {
      scroll-snap-type: y mandatory;
    }
    section {
      padding: 0 15vw;
      min-height: 100vh;
    }
  </style>

  <script>
    import { animateOnScroll } from "../../../src/helpers/animation";
    animateOnScroll("#services");
  </script>
</Layout>
