---
import type { HTMLAttributes } from "astro/types";

const { href, className, language } = Astro.props as Props;

interface SubLink {
  Subtitle: string;
  options: string[];
  href: string;
}
// or extend with an `interface`
interface Props extends HTMLAttributes<"a"> {
  myProp?: boolean;
  className?: string;
  language?: string;
}

interface Link {
  title: string;
  href: string;
  subLinks?: SubLink[];
}

/* let links: Link[] = [
  { title: t("buttonNav.work"), href: "#works" },
  {
    title: t("buttonNav.services"),
    href: "#services",
    subLinks: [
      {
        Subtitle: "MARKETING",
        options: ["Product Strategy", "Business Analysis", "UX Audit"],
        href: "/services/marketing",
      },
      {
        Subtitle: "DESIGN",
        options: [
          "UI/UX Design",
          "Website Design",
          "Branding",
          "Graphic Design",
        ],
        href: "/services/design",
      },
      {
        Subtitle: "DEVELOPMENT",
        options: ["Web Development", "Mobile Development", "DevOps"],
        href: "/services/development",
      },
    ],
  },
  { title: t("buttonNav.about"), href: "#about" },
  { title: t("buttonNav.contact"), href: "/contact" },
]; */

let links: Link[];

if (language === "he") {
  links = [
    {
      title: "שירותים",
      href: "#services",
    },
    {
      title: "עבודות",
      href: "#works",
    },
    {
      title: "אודות",
      href: "#about",
    },
    {
      title: "צור קשר",
      href: "/contact",
    },
  ];
} else {
  links = [
    {
      title: "Services",
      href: "#services",
    },
    {
      title: "Works",
      href: "#works",
    },
    {
      title: "About",
      href: "#about",
    },
    {
      title: "Contact",
      href: "/contact",
    },
  ];
}

console.log(language);
---

<div
  class="buttons-nav"
  style={{ flexDirection: language === "he" ? "row-reverse" : "row" }}
>
  {
    links.map((link) => (
      <a href={link.href} class="nav-link">
        <button class="buttonNav"> {link.title} </button>
      </a>
    ))
  }
</div>

<style>
  .buttons-nav {
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }

  .buttonNav {
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all 0.3s ease 0s;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
  }

  .buttonNav:hover {
    background-color: #391fff22;
    color: #3a1fff;
  }

  .contact-button {
    border: 1px solid white;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 2;
  }

  .dropdown-wrapper:hover::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 1;
  }
  .dropdown-wrapper:hover .dropdown-content {
    display: flex;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    height: fit-content;
    padding: 2rem;
    width: 40vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
    border-radius: 0.3125rem;
    background: #1b1f27;
    color: #fff;
    font-family: "Manrope" sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
  }

  .dropdown-content {
    display: none;
    flex-direction: row;
  }

  .dropdown-column {
    flex: 1;
    padding: 1rem;
  }

  .subtitle {
    color: #fff;
    font-family: "Manrope";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5rem;
  }

  .options {
    color: #c7c7c7;
    font-family: "Manrope" sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
</style>
<script>
  const navLinks = document.querySelectorAll(".nav-link");

  navLinks.forEach((link: Element) => {
    link.addEventListener("click", function (this: Element, e: Event) {
      const href = this.getAttribute("href");

      if (
        href &&
        href.startsWith("#") &&
        window.location.pathname === "/contact"
      ) {
        window.location.href = "/" + href;
      } else if (href && href.startsWith("#")) {
        e.preventDefault();

        const target = document.querySelector(href);

        if (target) {
          target.scrollIntoView({ behavior: "smooth" });
        }
      }
    });
  });
</script>
