---
interface Button {
  text: string;
  onClick: () => void;
}

const { text, onClick } = Astro.props;
---

<a href="/contact">
  <button onclick={onClick}>
    <span class="parallax-text">{text}</span>
  </button>
</a>

<style>
  button {
    display: flex;
    padding: 1.25rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    min-width: 7.31rem;
    border: none;
    border-radius: 0.3125rem;
    border: 3px solid #2c1d8c;
    height: 100%;
    background: #2c1d8c;
    color: #fff;
    font-family: "Manrope" sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all 0.2s ease-in-out;
    @media screen and (max-width: 768px) {
      padding: 0.625rem 1.25rem;
      min-width: 5.31rem;
      font-size: 0.875rem;
      height: 100%;
    }
  }
  button:hover {
    background-color: #3a1fff;
    /*     border: 3px solid #7464ed;
 */
    color: white;
    border: 3px solid transparent;
  }
</style>
