---

---

<article>
  <div class="container">
    <div class="izq">
      <span>BeyondTik</span>
      <span>Subtitles</span>
    </div>
    <div class="der">
      <div class="col">
        <h6>Company</h6>
        <span>Works</span>
        <span>Services</span>
        <span>Portfolio</span>
        <span>FAQ</span>
        <span>Contact Us</span>
      </div>
    </div>
  </div>
  <span class="all-right">All rights Reserved</span>
</article>

<style>
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  h6 {
    margin-top: 0px;
  }

  span {
    font-size: 1rem;
  }
  .izq {
    display: flex;
    flex-direction: column;
  }
  .der {
    display: flex;
    flex-direction: row;
  }
  .col {
    display: flex;
    flex-direction: column;
  }
  .all-right {
    text-align: center;
    display: block;
    font-weight: 100;
    font-size: 1rem;
  }
</style>
