---

---

<article>
  <div class="izq">
    <span>WebAviv</span>
    <span>Subtitles</span>
  </div>
  <div class="der">
    <div class="col">
      <h6>Company</h6>
      <span>Works</span>
      <span>Services</span>
      <span>Portfolio</span>
      <span>FAQ</span>
      <span>Contact Us</span>
    </div>
  </div>
</article>

<style>
  article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  h6 {
    margin-top: 0px;
  }
  .izq {
    display: flex;
    flex-direction: column;
  }
  .der {
    display: flex;
    flex-direction: row;
  }
  .col {
    display: flex;
    flex-direction: column;
  }
</style>
