---
interface Props {
  servicesTitle: string;
  description: string;
  svg: { src: string; width: number; height: number; format: string };
}

const { servicesTitle, description, svg } = Astro.props;
---

<div>
  <div class="container">
    <div class='image"'>
      <img src={svg.src} alt={servicesTitle} />
    </div>
    <div class="text-container">
      <h3 class="subtitle">{servicesTitle}</h3>
      <p class="span">{description}</p>
    </div>
  </div>
</div>

<style>
  .container {
    border-radius: 0.3125rem;
    background: #1b1f27;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid transparent; /* Añade un borde transparente */
    transition: border 0.2s ease-in-out; /* Añade una transición al borde */
    @media screen and (max-width: 1145px) {
      padding: 2rem;
    }
  }
  .container:hover {
    border: 1px solid #3a1fff;
  }

  h3 {
    color: #fff;
    font-family: "Manrope" sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1rem;
  }
  p {
    color: #fff;
    font-family: "Manrope" sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .text-container {
    margin-top: -2rem;
  }

  @media (max-width: 1145px) {
    .subtitle {
      font-size: 1.2rem;
    }
  }
</style>
